<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.risc.boot.modules.system.dao.SysUserOrganizationDao">

    <resultMap type="com.risc.boot.modules.system.bo.SysUserOrganization" id="SysUserOrganizationMap">
        <result property="userUid" column="user_uid" jdbcType="VARCHAR"/>
        <result property="organizationUid" column="organization_uid" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        user_uid, organization_uid    </sql>

    <!--通过ID查询单条数据-->
    <select id="selectByKey" resultMap="SysUserOrganizationMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user_organization
        where user_uid = #{userUid}
    </select>

    <!--新增数据-->
    <insert id="insert" keyProperty="userUid" useGeneratedKeys="true">
        insert into sys_user_organization(user_uid, organization_uid)
        values (#{userUid}, #{organizationUid})
    </insert>

    <!--修改数据-->
    <update id="update">
        update sys_user_organization
        <set>
        </set>
        where user_uid = #{userUid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteByKey">
        delete from sys_user_organization 
        where user_uid = #{userUid}
    </delete>

    <!--批量新增-->
    <insert id="insertBatch" keyProperty="userUid" useGeneratedKeys="true">
        insert into sys_user_organization(user_uid, organization_uid)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.userUid},#{item.organizationUid})
        </foreach>
    </insert>

    <!--批量删除-->
    <delete id="deleteBatch">
        delete from sys_user_organization
        where user_uid in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <!--条件查询 注意：修改此sql时须同时修改 分页查询Count ，并去掉不必要的外联、排序等，保证分页查询总页数正确 -->
    <select id="selectByProperty" resultMap="SysUserOrganizationMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user_organization
        <where>
            <if test="record.userUid != null and record.userUid != ''">
                and user_uid = #{record.userUid}
            </if>
            <if test="record.organizationUid != null and record.organizationUid != ''">
                and organization_uid = #{record.organizationUid}
            </if>
        </where>
    </select>

    <!--分页查询Count-->
    <select id="selectByPropertyCount" resultType="Long">
        select
        count(user_uid)
        from sys_user_organization
        <where>
            <if test="record.userUid != null and record.userUid != ''">
                and user_uid = #{record.userUid}
            </if>
            <if test="record.organizationUid != null and record.organizationUid != ''">
                and organization_uid = #{record.organizationUid}
            </if>
        </where>
    </select>

</mapper>
